
	
	public void tap()
	{
		
		
		MobileElement element = driver.findElement(By.id(""));//MobileBy
		
		TouchActions action = new TouchActions(driver);//create object of TouchActions class
		action.singleTap(element);
		action.perform();

		

		TouchAction action1 = new TouchAction(driver);//Finger 1
		
		action1.tap(PointOption.point(50, 10)).waitAction().release().perform();

	}

	public void doubleTap()
	{
		MobileElement element = driver.findElement(By.id(""));//MobileBy
		
	TouchActions action = new TouchActions(driver);//create object of TouchActions class
	action.doubleTap(element);
	action.perform();
	
	TouchAction action1 = new TouchAction(driver);//Finger 1
	action1.tap(PointOption.point(50, 10)).waitAction().release().tap(PointOption.point(50, 10)).release().perform();

	}
	
	public void moveToElement()
	{
		
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy
		Actions action = new Actions(driver);
		action.moveToElement(element, 10, 10);// moveToElement(WebElement target, int xOffset, int yOffset)
		action.perform();


		
		
	}
	
	public void leftClickHOLD()
	{
		
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy
		Actions action = new Actions(driver);
		action.moveToElement(element);
		action.clickAndHold();
		action.perform();

	
	}
	
	public void leftClickReleaseOffset()
	{
		
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy
		Actions action = new Actions(driver);
		action.moveToElement(element);
		action.clickAndHold();
		action.moveToElement(element, 10, 10);
		action.release();
		action.perform();


	}
	
	public void moveFinger()
	{
		
		
		TouchActions action = new TouchActions(driver);
		action.down(10, 10);
		action.move(50, 50);
		action.perform();


	}
	
	public void moveFingerDown()
	{
		
		TouchActions action = new TouchActions(driver);
		action.down(10, 10);
		action.move(50, 50);
		action.perform();


	}
	
	public void moveFingerUp()
	{
		
		TouchActions action = new TouchActions(driver);
		action.down(10, 10);
		action.up(20, 20);
		action.perform();
	}

	public void longPress()
	{
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy	
	TouchActions action = new TouchActions(driver);
	action.longPress(element);
	action.perform();
	}

	public void scroll()
	{
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy
		
		TouchActions action = new TouchActions(driver);
		action.scroll(element, 10, 100);
		action.perform();


	}
	
	public void flick()//to move or hit something with a short sudden movement
	{
		MobileElement element = driver.findElement(MobileBy.id(""));//MobileBy
		TouchActions action = new TouchActions(driver);
		action.flick(element, 1, 10, 10);
		action.perform();


	}
	
	public void MultiTouchAction()
	{


		TouchAction action1 = new TouchAction(driver);//Finger 1
		
		action1.tap(PointOption.point(50, 10)).waitAction().moveTo(PointOption.point(50, 10)).release();
	
		
		TouchAction action2 = new TouchAction(driver);//Finger  2
		
		action2.tap(PointOption.point(-10, 10)).waitAction().moveTo(PointOption.point(-50, 10)).release();
		
		
		
		
		MultiTouchAction action3 = new MultiTouchAction(driver);
		action3.add(action1);
		action3.add(action2);
		action3.perform();
		
	}
	
	
	
